.movies__list {
  margin: 0;
  padding: 80px 0 26px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  column-gap: 30px;
  row-gap: 58px;
  list-style: none;
}

.movies__list_invisible {
  display: none;
}

@media (max-width: 920px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    row-gap: 47px;
  }
}

@media (max-width: 400px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 37px;
    padding: 50px 0 26px;
  }
}

.movies__info {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #8b8b8b;
  text-align: center;
  margin: 50px auto 0;
  width: 260px;
}
