.header__burger {
  z-index: 50;
  position: relative;
  width: 28px;
  height: 22px;
  cursor: pointer;
}

@media (max-width: 570px) {
  .header__burger {
    width: 24px;
    height: 22px;
  }
}

.header__burger_fixed {
  position: fixed;
  top: 26px;
  right: 30px;
}

@media (max-width: 570px) {
  .header__burger_fixed {
    top: 26px;
    right: 23px;
  }
}

.header__burger::before,
.header__burger::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.5s ease 0s;
  background-color: #ffffff;
}

.header__burger::before,
.header__burger::after {
  content: '';
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger_active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
  transition: transform 0.5s;
}

.header__burger_active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
  transition: transform 0.5s;
}

.header__span {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.5s ease 0s;
  background-color: #ffffff;
}

.header__span_inactive {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.header__span_active {
  transform: scale(0) translate(0px, -50%);
  transition: transform 0.5s;
}
